<html>
<head>
<title>RegisterView.fxml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
RegisterView.fxml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">javafx.scene.control.*</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">javafx.scene.layout.*</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">org.kordamp.ikonli.javafx.FontIcon</span><span class="s0">?&gt;</span>

<span class="s2">&lt;</span><span class="s4">VBox </span><span class="s1">alignment</span><span class="s3">=&quot;CENTER&quot; </span><span class="s1">spacing</span><span class="s3">=&quot;20.0&quot; </span><span class="s1">style</span><span class="s3">=&quot;-fx-padding: 40; -fx-background-color: -color-bg-default;&quot; </span><span class="s1">xmlns</span><span class="s3">=&quot;http://javafx.com/javafx/22&quot; </span><span class="s1">xmlns:fx</span><span class="s3">=&quot;http://javafx.com/fxml/1&quot; </span><span class="s1">fx:controller</span><span class="s3">=&quot;com.oliinyk.costumes.view.RegisterController&quot;</span><span class="s2">&gt;</span>
    <span class="s2">&lt;</span><span class="s4">Label </span><span class="s1">style</span><span class="s3">=&quot;-fx-font-size: 24; -fx-font-weight: bold; -fx-text-fill: -color-fg-default;&quot; </span><span class="s1">text</span><span class="s3">=&quot;Реєстрація&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">VBox </span><span class="s1">fx:id</span><span class="s3">=&quot;registerPane&quot; </span><span class="s1">spacing</span><span class="s3">=&quot;15&quot; </span><span class="s1">maxWidth</span><span class="s3">=&quot;300&quot;</span><span class="s2">&gt;</span>
        <span class="s2">&lt;</span><span class="s4">TextField </span><span class="s1">fx:id</span><span class="s3">=&quot;emailField&quot; </span><span class="s1">promptText</span><span class="s3">=&quot;Email&quot; </span><span class="s2">/&gt;</span>
        <span class="s2">&lt;</span><span class="s4">PasswordField </span><span class="s1">fx:id</span><span class="s3">=&quot;passwordField&quot; </span><span class="s1">promptText</span><span class="s3">=&quot;Пароль&quot; </span><span class="s2">/&gt;</span>
        <span class="s2">&lt;</span><span class="s4">Button </span><span class="s1">fx:id</span><span class="s3">=&quot;registerButton&quot; </span><span class="s1">maxWidth</span><span class="s3">=&quot;Infinity&quot; </span><span class="s1">styleClass</span><span class="s3">=&quot;accent&quot; </span><span class="s1">text</span><span class="s3">=&quot;Зареєструватись&quot; </span><span class="s1">onAction</span><span class="s3">=&quot;#handleRegister&quot;</span><span class="s2">&gt;</span>
            <span class="s2">&lt;</span><span class="s4">graphic</span><span class="s2">&gt;</span>
                <span class="s2">&lt;</span><span class="s4">FontIcon </span><span class="s1">iconLiteral</span><span class="s3">=&quot;fas-user-plus&quot; </span><span class="s2">/&gt;</span>
            <span class="s2">&lt;/</span><span class="s4">graphic</span><span class="s2">&gt;</span>
        <span class="s2">&lt;/</span><span class="s4">Button</span><span class="s2">&gt;</span>
        <span class="s2">&lt;</span><span class="s4">Button </span><span class="s1">text</span><span class="s3">=&quot;Назад до входу&quot; </span><span class="s1">maxWidth</span><span class="s3">=&quot;Infinity&quot; </span><span class="s1">styleClass</span><span class="s3">=&quot;flat&quot; </span><span class="s1">onAction</span><span class="s3">=&quot;#navigateBack&quot; </span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s4">VBox</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">VBox </span><span class="s1">fx:id</span><span class="s3">=&quot;verifyPane&quot; </span><span class="s1">spacing</span><span class="s3">=&quot;15&quot; </span><span class="s1">maxWidth</span><span class="s3">=&quot;300&quot; </span><span class="s1">visible</span><span class="s3">=&quot;false&quot; </span><span class="s1">managed</span><span class="s3">=&quot;false&quot;</span><span class="s2">&gt;</span>
        <span class="s2">&lt;</span><span class="s4">Label </span><span class="s1">text</span><span class="s3">=&quot;Код відправлено на пошту (див. консоль)!&quot; </span><span class="s1">style</span><span class="s3">=&quot;-fx-text-fill: -color-success-fg;&quot; </span><span class="s1">wrapText</span><span class="s3">=&quot;true&quot; </span><span class="s2">/&gt;</span>
        <span class="s2">&lt;</span><span class="s4">TextField </span><span class="s1">fx:id</span><span class="s3">=&quot;codeField&quot; </span><span class="s1">promptText</span><span class="s3">=&quot;Введіть 6-значний код&quot; </span><span class="s2">/&gt;</span>
        <span class="s2">&lt;</span><span class="s4">Button </span><span class="s1">maxWidth</span><span class="s3">=&quot;Infinity&quot; </span><span class="s1">styleClass</span><span class="s3">=&quot;success&quot; </span><span class="s1">text</span><span class="s3">=&quot;Підтвердити&quot; </span><span class="s1">onAction</span><span class="s3">=&quot;#handleVerify&quot; </span><span class="s2">/&gt;</span>
        <span class="s2">&lt;</span><span class="s4">Button </span><span class="s1">text</span><span class="s3">=&quot;Скасувати&quot; </span><span class="s1">maxWidth</span><span class="s3">=&quot;Infinity&quot; </span><span class="s1">styleClass</span><span class="s3">=&quot;flat&quot; </span><span class="s1">onAction</span><span class="s3">=&quot;#navigateBack&quot; </span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s4">VBox</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">Label </span><span class="s1">fx:id</span><span class="s3">=&quot;errorLabel&quot; </span><span class="s1">style</span><span class="s3">=&quot;-fx-text-fill: -color-danger-fg; -fx-font-size: 14;&quot; </span><span class="s1">wrapText</span><span class="s3">=&quot;true&quot; </span><span class="s2">/&gt;</span>
<span class="s2">&lt;/</span><span class="s4">VBox</span><span class="s2">&gt;</span>
</pre>
</body>
</html>